.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBarSortOptions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBarSortOptions ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.searchBarSortOptions li {
  margin: 0 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.searchBarSortOptions li:hover {
  background-color: #f0f0f0;
}

.searchBarSortOptions li.active {
  background-color: #0073bb;
  color: white;
}

.searchBarFields {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBarFields input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchBarSubmit {
  display: flex;
  justify-content: center;
}

.searchBarSubmit button {
  padding: 10px 20px;
  background-color: #0073bb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBarSubmit button:hover {
  background-color: #005f8a;
}
